<h1>ABOUT US</h1>

<p>You know, the only thing you have to know about us is that neither I nor my staff like to sell these beautiful plants. We really like them. But, there is no choice, we need the money more than plants right now!</p>